.fixed {
  position: fixed;
  background: black;
  border: 5px solid rgb(0, 0, 0);
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}

body {
  padding-top: 110px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

.icon_heimdb {
  height: 50px;
  width: auto;
  padding: 10px;
  margin-right: 10px;
}

.topnav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}

.left-section {
  display: flex;
  align-items: center;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  margin-right: 20px;
}

.topnav .search-container {
  float: right;
  border-radius: 10px;
  flex-grow: 1;
  text-align: center;
}

.topnav input[type=text] {
  padding: 14px 16px;
  margin: 0;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}

.topnav .search-container button {
  float: right;
  padding: 4px 8px;
  margin: 0;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  height: 40px;
  box-sizing: border-box;
}

.topnav .search-container button:hover {
  background: #ccc;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav a:not(#heimdb-link):hover {
  background-color: gray;
  color: black;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

#heimdb-link {
  height: 50px;
}

.topnav a.active {
  background-color: #F3CE13;
  color: white;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav i {
  margin-right: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #1d1d1d;
}

.dropdown-content {
  display: none;
  position: absolute;
  color: white;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 768px) {
  .fixed {
    height: auto;
  }

  .topnav {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
  }

  .topnav a {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    text-align: center;
  }

  .dropdown .dropbtn {
    width: 100%;
    text-align: center;
  }

  .dropdown-content {
    position: static;
    display: none;
    background-color: transparent;
    box-shadow: none;
  }

  .dropdown:hover .dropdown-content {
    display: none;
  }

  body {
    padding-top: 150px;
  }
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container form {
  display: flex;
  align-items: center;
}

.search-container input[type="text"] {
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 0px;
  height: 40px;
  box-sizing: border-box;
}

.search-container .custom-select {
  position: relative;
  width: 90px;
  border: none;
  margin-right: 10px;
  height: 40px;
  box-sizing: border-box;
}

.search-container .custom-select select {
  width: 100%;
  padding: 4px 8px;
  font-size: 16px;
  border: none;
  background-color: white;
  height: 40px;
  box-sizing: border-box;
}

.com h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

/* movies - top rated and wishlist */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: 20px;
}

.movie-container {
  width: 60%;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

.movie-list-name {
  margin-top: 20px;
  margin-left: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.select-sort {
  margin-bottom: 20px;
  margin-top: 10px;
  margin-right: 10px;
}

.movie-content {
  display: flex;
  flex-wrap: wrap;
}

.movie-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
  border-radius: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.movie-list-name {
  align-items: center;
  justify-content: space-between;
}

.movie-list-name h1 {
  margin-top: 40px;
  display: block;
  font-size: 40px;
  font-weight: bold;
}

.select-sort {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.select-sort label {
  font-size: 16px;
  margin-right: 10px;
  margin-left: 10px;
}

.select-sort select {
  font-size: 16px;
  padding: 5px 10px;
}

.order-toggle{
  font-size: 16px;
  padding: 5px 10px;
  margin-left: 5px;
}

.movie-data {
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  flex-grow: 1;
  font-size: 18px;
}

.movie-image {
  width: 180px;
  height: auto;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.movie-atributes {
  margin-top: 10px;
  margin-bottom: 10px;
  color: grey;
  font-size: 16px;
  margin-right: 10px;
}

.movie-title a {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 25px;
  color: black;
  text-decoration: none;
}

.movie-buttons {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2px;
}

.remove-watched-button, .remove-watchlist-button, .rating-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e0e0e0;
  color: #ffffff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.remove-watched-button {
  color: red;
}

.remove-watchlist-button {
  color: black;
}

.rating-button {
  color: rgb(47, 92, 47);
}

button:disabled {
  cursor: not-allowed;
}

.rating-button:hover {
  background-color: rgb(211, 211, 211);
}

.remove-watched-button:hover {
  background-color: rgb(211, 211, 211);
}

/*movies - top rated and wishlist - end*/
/*movie site - top part about movie*/
.img-blur-wrap {
  overflow:hidden;
}
.img-blur {
    background: no-repeat;
    background-size: cover;
    background-position: center;
    filter: none;
    z-index: 2;
    position: absolute;
    width: 300px;
  	height: 450px;
    margin-left: 10%;
    margin-top: 100px;
  	box-shadow:0px 10px 20px #000;
}
.img-blur-bg {
  background: no-repeat;
  background-size: 100% 100%;
  filter: blur(60px) brightness(50%);
  width: 100%;
  height: 700px;
  position: absolute;
  z-index: 1;
}

.info {
  z-index: 2;
  position: absolute;
  margin-left: calc(10% + 300px + 100px);
  margin-right: 10%;
  float: right;
  margin-top: 100px;
  color:rgb(255, 255, 255);
  height: 450px;
  text-shadow: 1px 1px 1px black;
}

.info-first {
  text-align: left;
  font-size: 60px;
  font-weight: bold;
}

.info-second {
  text-align: left;
  font-size: 20px;
}

.info-third {
  text-align: left;
  font-size: 25px;
}

.info-forth {
  text-align: left;
  font-size: 20px;
}
.info-fifth {
  text-align: left;
  font-size: 25px;
}
.info-sixth {
  text-align: left;
  font-size: 25px;
}

.info-seven {
  display: flex;
  align-items: center;
}

.info-seven button {
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1px;
}

/*movie site - top part about movie -end*/


/*comments*/
.comments {
  width: 60%;
  margin-top: 760px;
  float: left;
}
.comment-button {
  background-color: rgb(255, 255, 255);
  color: black;
  display: flex;
  padding : 10px;
  border-radius: 3px;
  font-weight: bold;
}

.comment-button:hover {
  background-color: rgb(211, 211, 211);
}

.form-comment label {
  flex-basis: 100px;
  font-size: 12px;
}

.form-comment textarea {
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 8px;
  font-size: 16px;
  border: 2px solid #000000;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 3px;
  font-weight: bold;
}

div.comments-review{
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
  padding: 50px;
  box-shadow: 0 50px 30px rgba(0,0,0,.30);
  background: #fff;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  z-index: 5;
}

.popup.active{
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  z-index: 5;
}
/*comments-end*/

/*recommendations*/
.recommendations {
  width: 40%;
  margin-top: 760px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recommendation-container {
  width: 50%;
}

.recommendation-content {
  display: flex;
  flex-wrap: wrap;
}

.recommendation-box {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.recommendation-image {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

.recommendation-data {
  flex-grow: 1;
}

.recommendation-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.recommendation-title a {
  color: black;
  text-decoration: none;
}
/*recommendations-end*/


/*za uredenje komentara*/


.all_comments {
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2),
            0 4px 8px rgba(0, 0, 0, 0.1);

  border-radius: 10px;
  padding: 10px;
  font-size: 20px;

}

.all_comments .title_date_name {
  display: flex;
  justify-content: space-between;
  background-color: #F3CE13;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2),
            0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 10px;
}

.all_comments .title {
  flex-basis: 50%;
  padding: 10px;
}
.all_comments .date{
    flex-basis: 25%;
    padding: 10px;
}
.all_comments .name {
    flex-basis: 25%;
    padding: 10px;
}

.all_comments .content {
  margin-top: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2),
            0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 10px;
  color: 	#696969;
}

.bold_text{
    font-weight: bold;
}

.button_com{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 10px;
}

.but_com {
  background-color: lightgrey;
  color: black;
  border: 1px solid grey;
  font-size: 20px;
  padding:5px;
  border-radius: 3px;
}

.com-wrapper {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.all_comments button[type="submit"] {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  font-size: 18px;
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}

.all_comments button[type="submit"]:hover {
  background-color: rgb(211, 211, 211);
}

/* kraj uredenja komenata*/

/*pocetak login/register*/
.center-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  color: black;
  font-weight: bold;
}

.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form input[type="number"],
.form input[type="file"]
 {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 8px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 3px;
  font-weight: bold;
}

.form textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 8px;
  font-size: 16px;
  border: 2px solid #000000;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 3px;
  font-weight: bold;
}

.form .btn {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  font-size: 18px;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 3px;
  font-weight: bold;
}

.link a {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
  font-size: 14px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.link a:hover {
  color: rgb(128, 128, 128);
}

/*kraj login/register*/

/*pocetak za update profile*/
.container_user {
  width: 500px;
  padding: 20px;
}

.userData {
  display: flex;
  flex-direction: column;
}

.userData label {
  font-weight: bold;
  text-align: right;
  margin-right: 10px;
  font-size: 13px;
}

.userData div {
  display: flex;
  align-items: center;
}

.userData div label {
  flex-basis: 150px;
}

.userData div span {
  flex: 1;
}

.container_user h3 {
  margin-bottom: 10px;
}

.container_user h2 {
  text-align: center;
}

.container_user input[type="text"],
.container_user input[type="date"],
.container_user input[type="password"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.container_user button[type="submit"] {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  font-size: 18px;
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}
.container_user button[type="submit"]:hover {
  background-color: rgb(211, 211, 211);
}
/*kraj za update profile*/

/*pocetak za delete*/
.center-div select {
  width: 400px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2px solid #000000;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}


.center-div input[type="submit"] {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  font-size: 18px;
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}

.center-div input[type="submit"]:hover {
  background-color: rgb(211, 211, 211);
}

/*kraj za delete*/


/*pocetak za add*/
.form button[type="submit"] {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  font-size: 18px;
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}
.form button[type="submit"]:hover {
  background-color: rgb(211, 211, 211);
}

input[type="file"] {
  display: none;
}

#file-name {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #cccccc;
  border: none;
  border-radius: 3px;
  font-weight: bold;
}

.custom-file-upload:hover {
  background-color: #F3CE13;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.form-group label {
  flex-basis: 100px;
  font-size: 12px;
  text-align: right;
}

.form-group input[type="text"] {
  flex: 1;
  box-sizing: border-box;
  padding: 10px;
  margin-left: 8px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 3px;
  font-weight: bold;
}

/*kraj za add*/

footer {
    background-color: black;
     color: white;
     text-align: center;
     padding: 20px;
     position: relative;
     bottom: 0;
     width: 100%;
     white-space: pre;
     
  }
  main {
     flex: 1;
   }


/*rating popup*/
.rating-stars {
  float: left;
  padding-left: 25%;
}

.rating-stars input[type="radio"] {
  display: none;
}

.rating-stars:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rating-stars:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rating-stars:not(:checked) > label:before {
  content: '★ ';
}
.rating-stars > input:checked ~ label {
  color: #ffc700;    
}
.rating-stars:not(:checked) > label:hover,
.rating-stars:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rating-stars > input:checked + label:hover,
.rating-stars > input:checked + label:hover ~ label,
.rating-stars > input:checked ~ label:hover,
.rating-stars > input:checked ~ label:hover ~ label,
.rating-stars > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.comment-button{
  float: left;
}

#rate {
  float: right;
}


/*rating popup*/